/* Barra de navegación */
.dynamic-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #FFC1CC, #f3f1c9);
    padding: 10px 0;
  }
  
  .menu-item {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .menu-item:hover {
    color: #ff5733;
  }
  
  /* Modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 90%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }
  